<h1>Stocks#show</h1>
<p>Find me in app/views/stocks/show.html.erb</p>

<h1> Current Price: <%= @stock.current_price %> </h1>
<h2> Stock Symbol: <%= @stock.symbol.upcase %> </h2>
<h2> Name: <%= @stock.name %> </h2>

<% if buyer_signed_in? %>

  <% if @stock.user_stocks %>
    <h2> List of Brokers </h2>
    <% @stock.user_stocks.each do | user_stock | %>
      <p><%= user_stock.user.name %> <%= link_to "Buy from this broker", stocks_buyer_new_path(user_stock, @stock, user_stock.user), method: :get %></p>
    <% end %>
  <% end %>

<% elsif broker_signed_in? %>
  <% if current_user.stocks.include?(@stock) %>
    <p> Added stock to list </p>
  <% else %>
    <%= link_to "Add this stock to my list", stocks_broker_add_path(@stock), method: :put, class: 'btn btn-success pull-right btn-sm'%>
  <% end %>
<% end %>