<% if !(current_user.type == "Admin") %>
  
  <h1><%= current_user.name%>'s Transactions</h1>
  <% @transactions.each do | transaction | %>
    <details>
      <summary>
        <%= @method %> <%= transaction.quantity %> stocks (<%= Stock.find(transaction.stock_id).symbol.upcase %>) <%= @method_helper %> 
        <% if current_user.type == "Buyer" %>
          <%= Broker.find(transaction.broker_id).name %> at $<%= transaction.price%>/stock
        <% elsif current_user.type == "Broker" %>
          <%= transaction.user.name %> at $<%= transaction.price%>/stock
        <% end %>
        <small><%= time_ago_in_words(transaction.created_at)%> ago</small>  
      </summary>
      <p> Transaction ID: <%= transaction.id %> <br>
      Total: $<%= transaction.total %><br>
      Transaction Date: <%= transaction.created_at.strftime('%b. %e, %Y, %I:%M %p') %> </p>
    </details> <hr>
  <% end %>

<% else %>

  <h1> All Transactions </h1>
  <% @transactions.each do | transaction | %>
    <details>
      <summary>
        <%= transaction.user.name %> <%= @method %> <%= transaction.quantity %> stocks (<%= Stock.find(transaction.stock_id).symbol.upcase %>) 
        <%= @method_helper %> <%= Broker.find(transaction.broker_id).name %> at $<%= transaction.price%>/stock
        <small><%= time_ago_in_words(transaction.created_at)%> ago</small>  
      </summary>
      <p> Transaction ID: <%= transaction.id %> <br>
      Total: $<%= transaction.total %><br>
      Transaction Date: <%= transaction.created_at.strftime('%b. %e, %Y, %I:%M %p') %> </p>
    </details> <hr>
  <% end %>
<% end %>
